* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 37, 8);
}

a:hover {
    color: rgb(194, 24, 2);
}

.page {
    padding: 1rem;
}

.header {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    background-color: rgb(44, 44, 44);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem
}

.card {
    width: 20rem;
    background: rgb(44, 44, 44);
    padding: 1rem;
    border-radius: 10px;
}

.card img {
    width: 100%;
}